.colorPicker {
    cursor: pointer;
    position: relative;
    .tip {
        display: inline-block;
        color: #999;
        font-size: 12px;
    }
    .sketchPicker {
        margin-left: 80px;
    }
}
