.c-toolbox__ant-card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .body-header {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 16px;
        line-height: 16px;
        color: #999;
    }
    .body-content,
    .body-bottom {
        display: flex;
        justify-content: space-between;
    }
    .body-content {
        justify-content: unset;
        text-align: left;
        margin-top: 4px;
        .title, .desc {
            line-height: 22px;
        }
        .title {
            font-size: 16px;
            font-weight: 500;
            color: #333333;
            margin-bottom: 8px;
            .iconicon_star {
                margin-left: 8px;
                color: #FFC240;
                font-size: 12px;
                vertical-align: top;
            }
        }
        .desc {
            color: #666666;
            margin-bottom: 0;
        }
    }
    .body-bottom {
        margin-left: 62px;
        .tags {
            .ant-tag {
                border: 0;
                padding: 0 14px;
                line-height: 20px;
            }
        }
        .page-view {
            color: #666666;
            font-size: 12px;
            .iconfont {
                font-size: 16px;
                margin-right: 4px;
                vertical-align: -2px;
            }
        }
    }
}
.tool-acitons-menu {
    &.ant-dropdown-menu {
        padding: 8px 0;
        width: 100px;
        .ant-dropdown-menu-item,
        .ant-dropdown-menu-submenu-title {
            padding: 7px 9px;
            line-height: 18px;
            .iconfont {
                margin-right: 4px;
                vertical-align: -1px;
            }
        }
    }
}
