.c-upload-logo {
    .ant-upload.ant-upload-select-picture-card {
        width: 60px;
        height: 60px;
        margin: 0;
        border: 0;
        background-color: unset;
        & > .ant-upload {
            position: relative;
            padding: 0;
        }
        .upload-actions {
            position: absolute;
            top: 50%;
            left: 50;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 18px;
            z-index: 10;
        }
        & > .ant-upload::before {
            position: absolute;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            content: " ";
        }
        .upload-actions,
        & > .ant-upload::before {
            opacity: 0;
            transition: all 0.3s;
        }
        &:hover {
            .upload-actions, & > .ant-upload::before {
                opacity: 1;
            }
        }
    }
    .c-upload-logo__img {
        position: relative;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        overflow: hidden;
        img {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
        }
    }
}
