.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
// 卡片下表单
.card-form {
  .info-item {
    margin-top: 20px;
    .label {
      text-align: right;
    }
  }
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.clearfix {
  zoom: 1;
  &:after {
      content: " ";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
  }
}

.mt-12 {
  margin-top: 12px;
}
.mb-12 {
  margin-bottom: 12px;
}
.ml-20 {
  margin-left: 20px;
}