.page-toolbox{
  .tool-list{
    padding:10px 10px 0 10px;
    .navigation-item-wrapper{
      margin-bottom: 10px;
      .navigation-item{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        height: 140px;
        text-align: center;
        .icon{
          position: absolute;
          top:10px;
          right: 10px;
        }
        .title{
          font-size: 22px;
        }
      }
    }
  }
}