.page-toolbox{
  .toolbox-header{
    display: flex;
    justify-content: space-between;
  }
  .tool-list{
    .navigation-item-wrapper{
      margin-bottom: 10px;
      .navigation-item{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        // background-color: #ffffff;
        color: #ffffff;
        height: 140px;
        text-align: center;
        border-radius: 6px;
        padding: 20px;
        .icon{
          position: absolute;
          top:10px;
          right: 10px;
        }
        .title{
          font-size: 22px;
          width: 200px;
          margin: auto;
          word-break: break-all;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
        &:hover {
          border-color: transparent;
          box-shadow: 0 1px 2px -2px rgba(0,0,0,.16), 0 3px 6px 0 rgba(0,0,0,.12), 0 5px 12px 4px rgba(0,0,0,.09);
        }
      }
    }
  }
}