.page-toolbox{
  .toolbox-title {
    font-size: 14px;
    color: #333333;
    font-weight: 500;
  }
  .toolbox-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .tool-list{
    .navigation-item-wrapper{
      margin-bottom: 20px;
      .ant-card {
        .ant-card-body {
          padding: 0;
          border-radius: 4px;
          box-shadow: 0px 4px 16px 0px rgba(6, 14, 26, 0.08);
          &:hover {
            box-shadow: 0 1px 2px -2px rgba(0,0,0,.16), 0 3px 6px 0 rgba(0,0,0,.12), 0 5px 12px 4px rgba(0,0,0,.09);
          }
        }
      }
      .navigation-item{
        display: block;
        height: 216px;
        padding: 15px 16px 20px;
        border-radius: 4px;
      }
    }
  }
  .tool-list__ant-spin {
    .ant-spin-container {
      height: calc(100vh - 64px - 40px - 44px);
    }
    .tool-empty {
      position: relative;
      top: 50%;
      transform: translate(0, -65%);
      .ant-empty-description {
        font-size: 14px;
        color: #666;
      }
    }
  }
}