
.test-table {
    width: 400px;
    overflow: scroll;
    table {
        width: 1000px;
        tr {
            border-bottom: 1px solid black;
            &:last-child{
                border: 0;
            }
            td {
                width: 200px;
                background: #fff;
                &.fixed {
                    position: sticky;
                    left: 0;
                    background: #e8e8e8;
                }
            }
        }
    }
}
