.page-proxy-server{
  .title_wrap{
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 12px;
    .search{
      width: 200px;
      height: 32px;
    }
  }
  .marginBottom12{
    margin-bottom: 12px;
  }
}