.layout-basic{
  height: 100vh;
  .system-title{
    padding-left: 20px;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
  }
  .local-ip{
    color: #fff;
    font-size: 16px;
  }
  .main-content{
    height: 100%;
  }
}