.page-config-center{
  .header_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    .title{
      font-size: 14px;
      color: #333333;
      font-weight: 500;
    }
  }
}