.page-config-center{
  padding:10px;
  .header_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title{
      font-size: 14px;
      color: #333333;
      font-weight: 500;
    }
  }
}